<h1>Sessions#new</h1>

<%= form_for :session, url: login_path do |form| %>
    <div class="field">
        <%= form.label :username %> <br />
        <%= form.text_field :username %>
    </div>
    <div class="field">
        <%= form.label :password %> <br />
        <%= form.password_field :password, autocomplete: "off" %>
    </div>
    <div class="actions">
        <%= form.submit 'Fazer login' %>
    </div>
<% end %>