<h1>Editing Marker</h1>

<%= form_with model: @marker, url: marker_url(@marker), method: :patch do |form| %>
    <% if @marker.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@marker.errors.count, "error") %> prohibited this marker from being saved:</h2>

            <ul>
                <% @marker.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= form.label :disaster_type %>
        <%= form.select :disaster_type, [["Water leak", "leak"], 
                                    ["Fire", "fire"], 
                                    ["Irregular Sewage Dump","sewage"], 
                                    ["Irregular Garbage Dump","garbage"]] %>
    </p>

    <p>
        <%= form.label :latitude %>
        <%= form.text_field :latitude %>
    </p>
                                
    <p>
        <%= form.label :longitude %>
        <%= form.text_field :longitude %>
    </p>
                                
    <p>
        <%= form.label :obs %>
        <%= form.text_field :obs %>
    </p>

    <% if session[:authority_id] %>
        <p>
            <%= form.label :verified %>
            <%= form.check_box :verified %>
        </p>

        <p>
            <%= form.label :severity %>
            <%= form.select :severity, [["I",1],["II",2],["III",3],["IV",4]] %>
        </p>
    <% end %>

    <p>
        <%= form.submit 'Save' %>
    </p>
<% end %>

<%= link_to 'Show', @marker %> |
<%= link_to 'Back', root_path, method: 'get' %>
