<%= javascript_include_tag "marker_list" %>
<div class="default-container">
    <div class="sidebar"></div>
    <div class="hero">

    <p id="notice"><%= notice %></p>

    <h1 class="title">Markers</h1>

    <div id="coord_indication">
      <% if session[:latitude] == -23.4823919 && session[:longitude] == -46.5004498 %>
        <h2>
          Localização da EACH sendo utilizada 
        </h2>
      <% else %>
        <h2>
          Localização pessoal sendo utilizada
        </h2>
      <% end %>
    </div>
    <div class="overflow-container" id="disasters">
      <table class="sortable">
        <thead>
          <tr>
            <th>Type</th>
            <th>Severity</th>
            <th>Verified</th>
            <th>Observation</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Distance</th>
            <th>ID</th>
            <th>Creator</th>           
            <th>Upvotes</th>
            <th>Downvotes</th>            
            <th colspan="3"> Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @markers.each do |marker| %>
            <tr>
              <td><%= marker.disaster_type %></td>
              <td><%= marker.severity %> </td>
              <td><%= marker.verified %></td>
              <td><%= marker.obs %></td>
              <td><%= marker.latitude %></td>
              <td><%= marker.longitude %></td>
              <td><%= calculateDistance(marker.latitude, marker.longitude, session[:latitude], session[:longitude]) %> Km</td>
              <td><%= marker.user_id %></td> 
              <% if marker.user_type == "userType" %>
                <td>User</td>
              <% else %>
                <td>Auth</td>
              <% end %>
              <td><%= marker.upvotes %></td>
              <td><%= marker.downvotes %></td>
              <td><%= link_to 'Show', marker %></td>
              <% if session[:authority_id] or (session[:user_id] && session[:user_id] == marker.user_id) %>
                <td><%= link_to 'Edit', edit_marker_path(marker) %></td>
                <td><%= link_to 'Destroy', marker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% else %>
                <td></td>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>    
    </div>
    <div class="buttons-container">
      <%= link_to 'New Marker', new_marker_path, class:"button" %>
    </div>
  </div>
<div class="sidebar"></div>
</div>
