<div class="default-container">
    <div class="sidebar"></div>
    <div class="hero">

      <% if @marker.errors.any? %>
      <div id="error_explanation">
        <h2>
          <% @marker.errors.count%> erro(s) impedindo o cadastro
        </h2>
        
        <ul>
            <% @marker.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
      </div>
        <% end %>

        <%= form_with scope: :markers, url: markers_path, local: true do |form| %>
        <h1 class="title">New Marker</h1>
        <div class="field">
          <%= form.label :disaster_type %>
          <%= form.select :disaster_type, 
          [["Water leak", "leak"], 
          ["Fire", "fire"], 
          ["Irregular Sewage Dump","sewage"], 
          ["Irregular Garbage Dump","garbage"]] %>
        </div>
          <div class="field">
            <%= form.label :latitude %>
            <%= form.text_field :latitude, placeholder: "write your latitude..." %>
          </div>

          <div class="field">
            <%= form.label :longitude %>
            <%= form.text_field :longitude, placeholder: "write your longitude..." %>
          </div>

          <div class="field">
            <%= form.label :obs %>
            <%= form.text_field :obs, placeholder: "write your observations..." %>
          </div>

          <div class="buttons-container">
              <%= form.submit 'Create', class: "button"%>
          </div>
        <% end %>

        <div class="buttons-container">
        <%= link_to 'Back', root_path, method: 'get', class: "button" %>
        </div>
      </div>
    <div class="sidebar"></div>
  </div>
<%= javascript_include_tag "markers" %>