<p id="notice"><%= notice %></p>
<%= puts(@marker) %>
<p>
  <strong>Disaster_type:</strong>
  <%= @marker.disaster_type %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @marker.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @marker.longitude %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @marker.obs %>
</p>

<p>
  <strong>User:</strong>
  <%= @marker.user_id %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @marker.upvotes %>
</p>

<p>
  <strong>Downvotes:</strong>
  <%= @marker.downvotes %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @marker.verified %>
</p>

<p>
  <strong>Severity:</strong>
  <%= @marker.severity %>
</p>

<% if session[:authority_id] %>
  <%= link_to 'Verify', '/markers/' + @marker.id.to_s + '/verify' %> |
  <%= link_to 'Remove', '/markers/' + @marker.id.to_s, method: 'delete' %>
<% end %>
<% if @marker.user_id == session[:user_id] or session[:authority_id] %>
  <%= link_to 'Edit', edit_marker_path(@marker) %> 
<% else %>
  <%= link_to 'Upvote', '/markers/' + @marker.id.to_s + '/up' %> | 
  <%= link_to 'Downvote', '/markers/' + @marker.id.to_s + '/down' %>
<% end %> |
<%= link_to 'Back', root_path, method: 'get' %>
