<div class="default-container">
    <div class="sidebar"></div>
    <div class="hero">
        <h1 class="title"> Edit Data </h1>

        <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2>
                <% @user.errors.count%> error(s) blocking the registration
            </h2>
            
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
        <% end %>

        <%= form_with model: @user, url: '/users/edit' do |form| %>
            <div class="field">
                <%= form.label :name %>
                <%= form.text_field :name %>
            </div>
            <div class="field">
                <%= form.label :birth_date, "Birth Date" %>
                <%= form.date_field :birth_date %>
            </div>
            <div class="field">
                <%= form.label :email %>
                <%= form.email_field :email %>
            </div>
            <div class="buttons-container">
                <%= form.submit 'Save', class:"button" %>
            </div>
        <% end %>
        <div class="buttons-container">
            <%= link_to "Back", :back, class: 'button' %>
        </div>
    </div>
    <div class="sidebar"></div>
</div>