<h1> Editar Dados </h1>

<% if @user.errors.any? %>
<div id="error_explanation">
    <h2>
        <% @user.errors.count%> erro(s) impedindo o cadastro
    </h2>
    
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= form_with model: @user, url: '/edit' do |form| %>
    <p>
        <%= form.label :name %><br />
        <%= form.text_field :name %>
    </p>
    <p>
        <%= form.label :birth_date, "Birth Date" %><br />
        <%= form.date_field :birth_date.strftime("%d/%m/%Y") %>
    </p>
    <p>
        <%= form.label :email %><br />
        <%= form.email_field :email %>
    </p>
    <p>
        <%= form.submit 'Save' %>
    </p>
<% end %>