<div class="default-container">
    <div class="sidebar"></div>
    <div class="hero">
        <h1 class="title"> Novo Usuário </h1>

        <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2>
                <% @user.errors.count%> error(s) blocking the registration
            </h2>
            
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
        <% end %>

        <%= form_with scope: :users, url: users_path, local: true do |form| %>
            <div class="field">
                <%= form.label :name %>
                <%= form.text_field :name, placeholder: "write your name..."  %>
            </div>
            <div class="field">
                <%= form.label :birth_date, "Birth Date" %>
                <%= form.date_field :birth_date %>
            </div>
            <div class="field">
                <%= form.label :username %>
                <%= form.text_field :username, placeholder: "write your username..."  %>
            </div>
            <div class="field">
                <%= form.label :email %>
                <%= form.email_field :email, placeholder: "write your email..."  %>
            </div>
            <div class="field">
                <%= form.label :email_confirmation, "Confirm Email" %>
                <%= form.email_field :email_confirmation, placeholder: "confirm your email..."  %>
            </div>
            <div class="field">
                <%= form.label :password %>
                <%= form.password_field :password, placeholder: "write your password..."  %>
            </div>
            <div class="field">
                <%= form.label :password_confirmation, "Confirm Password" %>
                <%= form.password_field :password_confirmation, placeholder: "confirm your password..."  %>
            </div>
            <div class="buttons-container">
                <%= form.submit 'Create', class:"button"%>
            </div>
        <% end %>
    </div>
    <div class="sidebar"></div>
</div>