<div class="default-container">
    <div class="sidebar"></div>
    <div class="hero">
        <h1 class="title"> Profile </h1>

        <% flash.each do |type, msg| %>
            <div id="success_explanation">    
                <%= msg %>
            </div>
        <% end %>
        <% flash.clear %>
        <h3><strong><%= @user.name %>'s Profile</strong></h3>
        <h3><strong>Username:    </strong> <%= @user.username %> </h3>
        <h3><strong>Birth Date:     </strong> <%= @user.birth_date %> </h3>
        <h3><strong>Email:   </strong><%= @user.email %> </h3>
        <div class="buttons-container">
            <%= link_to "Back to Map", '/', class:"button" %>
            <%= link_to "Edit your Profile", '/users/edit', class:"button" %>
            <%= link_to "Log out", '/users/sign_out', method: :delete, class:"button" %>
        </div>    
    </div>
    <div class="sidebar"></div>
</div>