<h1> Profile </h1>

<% flash.each do |type, msg| %>
    <div id="success_explanation">    
        <%= msg %>
    </div>
<% end %>

<h3><%= @user.name %>'s Profile </h3>
<p>Username: <%= @user.username %> </p>
<p>Birth Date: <%= @user.birth_date.strftime("%d-%m-%Y") %> </p>
<p>Email: <%= @user.email %> </p>
<p><%= link_to "Edit your Profile", '/edit' %></p>
<p><%= link_to "Log out", '/sign_out', method: :delete %></p>