<div class="default-container">
    <div class="sidebar"></div>
    <div class="hero">
        <h1 class="title"> Edit Authority Data</h1>

        <% if @authority.errors.any? %>
        <div id="error_explanation">    
            <ul>
                <% @authority.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
        <% end %>

        <%= form_with model: @authority, url: '/authorities/edit' do |form| %>
            <div class="field">
                <%= form.label :identifier %><br />
                <%= form.text_field :identifier %>
            </div>
            <div class="field">
                <%= form.label :name %><br />
                <%= form.text_field :name %>
            </div>
            <div class="buttons-container">
                <%= form.submit 'Save', class:"button" %>
            </div>
        <% end %>
    </div>
    <div class="sidebar"></div>
</div>