<h1> Editar Dados de Autoridade</h1>

<% if @authority.errors.any? %>
<div id="error_explanation">    
    <ul>
        <% @authority.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= form_with model: @authority, url: '/authorities/edit' do |form| %>
    <p>
        <%= form.label :identifier %><br />
        <%= form.text_field :identifier %>
    </p>
    <p>
        <%= form.label :name %><br />
        <%= form.text_field :name %>
    </p>
    <p>
        <%= form.submit 'Save' %>
    </p>
<% end %>