<div class="default-container">
    <div class="sidebar"></div>
    <div class="hero">
        <h1 class="title"> Authority Page</h1>

        <% flash.each do |type, msg| %>
            <div id="success_explanation">    
                <%= msg %>
            </div>
        <% end %>
        <% flash.clear %>
        <h3><strong><%= @authority.name %>'s Profile </strong></h3>
        <h3><strong>Identifier:</strong> <%= @authority.identifier %> </h3>
        <h3><strong>Username:</strong> <%= @authority.name %> </h3>
        <div class="buttons-container">
            <%= link_to "Edit Authority Profile", '/authorities/edit', class:"button" %>
            <%= link_to "Log out", '/authorities/sign_out', method: :delete, class:"button" %>
        </div>
    </div>
    <div class="sidebar"></div>
</div>